<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone Chat</title>
</head>
<body>
  <div id="chat">
    <input type="text" id="username-input" placeholder="Choose your name">
    <div id="chat-users"></div>
    <hr>

    <div id="chat-messages"></div>

    <input type="text" id="chat-input" placeholder="Write your message">
  </div>

  <script type="text/template" id="message-template">
    <span>
      {{text}}
    </span>
  </script>

  <script type="text/template" id="user-template">
    <span>
      ID: {{id}}
    </span>
  </script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/chat.dev.js"></script>
</body>
</html>